@model WebRestaurante.Models.Menu

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <blockquote class="col-md-12 blockquote-reverse" style="color:#000000; background-color:#ffffff; border-radius:4px">
        <p title="HyperText Markup Language" class="initialism col-md-11 text-left" style="font-size:30px"> DETALLES</p>
     </blockquote>
     <hr />
</div>